<!-- Template user creates their blog post with -->


<!-- Upload an image for the header -->
Title: <input type="text" id="title">
<input name="image" type="file" id="imageBanner" />
<!-- Text area for the content of the page  -->
Content: <textarea name="content" id="content" cols="30" rows="10"></textarea>
<button id="btnCreate">Upload</button>

<script type="text/javascript" src="/scripts/createBlog.js"></script>