<!-- Upload an image for the header -->
Title: <input type="text" id="title" value="{{title}}">
<button id="SaveTitle">Save</button>

<img src="{{titleImagePath}}" alt="Title Image">
<input name="image" type="file" id="imageBanner" />
<button id="SaveBannerImage">Save</button>

<!-- Text area for the content of the page  -->
Content: <textarea name="content" id="content" cols="30" rows="10">{{content}}</textarea>
<button id="SaveContent">Save</button>

<button id="StopEditing">Stop Editing</button>

<script type="text/javascript" src="/scripts/editBlog.js" base_url="{{BASE_URL}}"></script>