<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Profile</title>
  {{>Navigation}}
</head>

<body>
  <h1>Edit Profile</h1>

  <!--Present editable user information -->
  <img src="{{profileImagePath}}" alt="Profile Pic"></img>
  <input name="image" type="file" id="imageProfile" />
  <label for="fname">First name:</label>
  <input type="text" id="fname" value="{{firstName}}"><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" value="{{lastName}}"><br>
  <label for="bio">Bio:</label>
  <input type="text" id="bio" value="{{bio}}"><br>
  <button id="update">Update</button>

</body>

<script>
  //add update event to update button 
  document.getElementById("update").addEventListener("click", updateUserInformation);

  //request user information get updated
  async function updateUserInformation() {
    //define url
    let url = "http://localhost:3000/profile/edit";

    //get user information 
    let firstName = document.getElementById("fname").value;
    let lastName = document.getElementById("lname").value;
    let bio = document.getElementById("bio").value;

    //package data
    let data = {
      firstName,
      lastName,
      bio
    };

    try {
      //send update request
      let response = await fetch(url, { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(data) });

      //check if response is successful 
      if (response.status === 200) {
        //change location to profile
        window.location.href = "/profile";
      }
    } catch (e) {
      console.error(e);
    }
  }
</script>

</html>