<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>


  <nav>
    {{#each links}}
    <li><a href="{{this.[1]}}">{{this.[0]}}</a></li>
    {{/each}}
  </nav>


<body>
  <div id="search-box">
    <h1>Search for Blogs</h1>

    <input type="text" id="query">
    <button id="search">Search</button>
    Author: <input type="checkbox" id="author" name="author" value="author">
    Title: <input type="checkbox" id="title" name="title" value="title">
  </div>

  <div id="search-results"></div>
  <button id="prev" style="display:none">Previous</button>
  <button id="next" style="display:none">Next</button>


  <script type="text/javascript" src="scripts/search.js" base_url="{{BASE_URL}}"></script>
</body>

</html>