<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>

  <nav>
    <ul>
      <li><a href="{{root}}">Home </a></li>
      <li><a href="{{search}}">Search</a></li>
      <li><a href="{{profile}}">Profile</a></li>
    </ul>
  </nav>
</head>

<body>
  <div id="search-box">
    <h1>Search for Blogs</h1>

    <input type="text" id="query">
    <button id="search">Search</button>
  </div>

  <div id="search-results"></div>


  <script>
    //TODO 1: Basic search that returns results that are put on the page
    //TODO 2: Refine search by adding categories
    //TODO 3: Refine search by adding pagination to front end and back end if necessary(e.g., if we show 15 results we do not need to collect all 1000 matching blogs for the user) 
    //script that searches by the client's keywords and returns a set of results
    async function search() {
      //get the search query
      let value = document.getElementById("query").value;
      console.log(value);

      //send query request to the blog controller
      let response = await fetch(`http://localhost:3000/blog?param=username&value=${value}`, {
        method: 'GET', headers: { 'Content-Type': 'application/json' }
      });

      let blogs = await response.json();

      console.log(blogs);

      //place blog results into the search-results div
      let title;
      let username;
      let blogurl;
      for (let i = 0; i < blogs.length; i++) {
        //set title 
        title = blogs[i].title;
        //set the username
        username = blogs[i].username;
        //construct the path to the blog  -- blogID and if editing or not
        blogurl = `http://localhost:3000/blog/${blogs[i].blogID}/false`;

        //create the title DOM element
        let DOMTitle = document.createElement('p');
        DOMTitle.value = title;

        //create the username DOM element
        let DOMUsername = document.createElement('p');
        DOMUsername.value = username;

        //create anchor
        let DOMLink = document.createElement('a');
        DOMLink.value = blogurl;

        //get the target
        let div = document.getElementById("search-results");

        div.appendChild(DOMTitle);
        div.appendChild(DOMUsername);
        div.appendChild(DOMLink);

      }
    }

    //search event listsner
    document.getElementById("search").addEventListener("click", search); 
  </script>
</body>

</html>