<label for="email">Email:</label>
<input type="text" id="email"><br>
<label for="uname">Username:</label>
<input type="text" id="uname"><br>
<label for="pword">Password:</label>
<input type="text" id="pword"><br>
<button id="signup">Sign Up</button>
<a href="login">Login to your account</a>

<script>
  async function signup() {
    try {
      const url = "http://localhost:3000/signup";

      let email = document.getElementById("email").value;
      let username = document.getElementById("uname").value;
      let password = document.getElementById("pword").value;
      console.log(email + username + password);


      const Data = {
        email: email,
        username: username,
        password: password
      };

      //first response is http, second is the json data
      let response = await fetch(url, { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(Data) });

      //TODO: Send http request to login instead of redirect like this
      if (response.status === 201) {
        console.log("Success");
        await fetch('http://localhost:3000/login');
        // window.location.pathname = './login';
      } else {
        console.log("Error");
      }
    } catch (e) {
      console.log(e);
    }
  }

  document.getElementById("signup", signup).addEventListener("click", signup);
</script>