<label for="email">Email:</label>
<input type="text" id="email"><br>
<label for="uname">Username:</label>
<input type="text" id="uname"><br>
<label for="pword">Password:</label>
<input type="text" id="pword"><br>
<button id="signup">Sign Up</button>
<a href="login">Login to your account</a>