<!-- Template for blog posts a user can create -->

<head>
  <img src="{{titleImage}}" alt="Title Image">
  <h1>{{title}}</h1>
</head>

<body>
  <div>
    {{content}}
  </div>
</body>

<footer>
  <p>Footer stuff</p>
</footer>