<!-- Template user creates their blog post with -->

<form action="https://localhost:3000/blog" method="POST">

  <input type="text">
  <!-- Upload an image for the header -->
  <input name="headerImage" type="file" />

</form>