<label for="uname">Username:</label>
<input type="text" id="uname"><br>
<label for="pword">Password:</label>
<input type="text" id="pword"><br>
<button id="login">Login</button>


<script>
  async function login() {
    try {
      const url = "http://localhost:3000/login";

      let username = document.getElementById("uname").value;
      let password = document.getElementById("pword").value;
      console.log(username + password);


      const Data = {
        username: username,
        password: password
      };

      //first response is http, second is the json data
      let response = await fetch(url, { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(Data) });

      //check if login is successful
      if (response.status === 200) {
        //go to homepage
        window.location.href = '/homepage';
      } else {
        //Show user to try again --TODO: Make prettier
        console.log("Error logging in");
      }

    } catch (e) {
      console.log(e);
    }
  }

  document.getElementById("login").addEventListener("click", login);
</script>