<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>

  <nav>
    <ul>
      <li><a href="{{root}}">Home </a></li>
      <li><a href="{{search}}">Search</a></li>
      <li><a href="{{profile}}">Profile</a></li>
    </ul>
  </nav>

</head>

<body>
  <h1>Profile</h1>
</body>

</html>